<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
 let obj=new Object()
 let str="hello vue"
 Object.defineProperty(obj,"name",{
     get(){
         console.log("get方法")
         return str
     },
     set(newValue){
         console.log("set方法")
         str=newValue
     }
 })
 console.log(obj.name)
 obj.name="hello js"
 console.log(str)
</script>
</html>